.opm_img_wrapper .navigation {
    width: 100%;
    padding-bottom: 20px;
    /* padding-top: 20px; */
}
.opm_img_wrapper .navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    /* display: inline-block; */
	    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}
.opm_img_wrapper .navigation li {
    /* display: inline-block; */
	display: flex;
	margin: 0
}
.opm_img_wrapper .navigation li a {
    background: 0;
    color: #222;
    padding: 10px 15px;
    text-decoration: none;
}
.opm_img_wrapper .navigation li a.current {
    background: #ededed;
    color: #222;
}
.opm_img_wrapper .navigation li a:active,
.opm_img_wrapper .navigation li a:focus {
    outline: none !important;
    box-shadow: none;
}
.opm_img_wrapper .navigation li a span {
    color: rgba(247, 46, 12, 0.87);
}

.opm_img_wrapper .opm_img-body-header h2 {
    position: relative;
}
.opm_img_wrapper .opm_img-toggle-arrow {
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
    float: right;
    text-decoration: none;
    border-bottom: 0;
    box-shadow: none;
}
.opm_img_wrapper .opm_img-toggle-arrow:after,
.opm_img_wrapper .opm_img-toggle-arrow:before {
    content: "";
    display: block;
    width: 13px;
    height: 4px;
    background: #0184ba;
    position: absolute;
    top: 5px;
    transition: transform 0.1s;
}
.opm_img_wrapper .opm_img-toggle-arrow:before {
    left: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transform: rotate(45deg);
}
.opm_img_wrapper .opm_img-toggle-arrow:after {
    transform: rotate(-45deg);
    right: 0;
}
.opm_img_wrapper .opm_img-toggle-arrow.active:before {
    transform: rotate(-45deg);
}
.opm_img_wrapper .opm_img-toggle-arrow.active:after {
    transform: rotate(45deg);
}
.opm_img_content {
    width: 100%;
}
.opm_img_content label.error {
    color: rgba(247, 46, 12, 0.87);
    margin-left: 10px;
}
.opm_img_content input.error {
    border: 1px solid rgba(247, 46, 12, 0.87);
    box-shadow: inset 0 1px 2px rgba(247, 46, 12, 0.44);
}
.opm_img_content section {
    display: none;
}
.opm_img_content section.current {
    display: block;
}
.opm_img_content .sub-fields {
    padding-left: 30px;
}
.opm_img_content .opm_img-body-wrapper {
    border: 1px solid #f1f1f1;
    margin-bottom: 20px;
    background: #fff;
}
.opm_img_content .opm_img-body-header,
.opm_img_sidebar .opm_img-body-header {
    padding: 16px 24px;
    border-bottom: 1px solid #f1f1f1;
}
.opm_img_content .opm_img-body-header h2,
.opm_img_sidebar .opm_img-body-header h2 {
    margin: 0 !important;
}
.opm_img_content .opm_img-body-main {
    padding: 24px;
}
.opm_img-input-group {
    padding-bottom: 10px;
}
.opm_img-input-group label {
    font-weight: 700;
    display: inline-block;
    padding-bottom: 10px;
}

.opm_img-input-group .opm_img-input {
    padding-bottom: 10px;
}
.opm_img-input-group .tab-login {
    position: relative;
}

.opm_img-input-group .inline {
    display: inline-block;
}
.opm_img-input-group .inline .opm_img-input {
    display: inline-block;
    padding-right: 10px;
}
.opm_img-help {
    padding-bottom: 10px;
    font-size: calc(7.5px + (12.5 - 7.5) * ((100vw - 767px) / (1920 - 767)));
}
.opm_img-form {
    position: relative;
}
.opm_img-form .opm_img-menus-settings .opm_img-input {
    padding-bottom: 0;
}
.opm_img-form .opm_img-menus-settings .toggle-label {
    padding-bottom: 5px;
    padding-top: 5px;
}
.opm_img-form input[type="number"],
.opm_img-form input[type="phone"],
.opm_img-form input[type="text"],
.opm_img-form input[type="url"] {
    width: 50%;
    line-height: 32px;
}
.opm_img-form input.custom-input {
    line-height: 33px;
    min-width: 100%;
}


.opm_img-form input[type="number"] {
    height: 36px;
}
.opm_img_admin_wrapper .sub-fields,
.opm_img_admin_wrapper .opm_img-input .toggle-label {
    padding-left: 0;
}
.opm_img-other-admins {
    padding-left: 30px;
}
.opm_img-menus-settings > ul {
    width: 75%;
}
.opm_img-input-group li,
.opm_img-input-group li .opm_img-input {
    padding: 0;
}
.opm_img-input-group li label.toggle-label {
    padding-top: 5px;
    padding-bottom: 5px !important;
}
.opm_img-toggle-wrapper ul ul {
    padding-left: 30px;
}
.opm_img-toggle {
    display: none !important;
}
.opm_img-toggle,
.opm_img-toggle *,
.opm_img-toggle + .opm_img-toggle-btn,
.opm_img-toggle:after,
.opm_img-toggle :after,
.opm_img-toggle:before,
.opm_img-toggle :before {
    box-sizing: border-box;
}
.opm_img-toggle + .opm_img-toggle-btn::-moz-selection,
.opm_img-toggle::-moz-selection,
.opm_img-toggle ::-moz-selection,
.opm_img-toggle:after::-moz-selection,
.opm_img-toggle :after::-moz-selection,
.opm_img-toggle:before::-moz-selection,
.opm_img-toggle :before::-moz-selection {
    background: 0;
}
.opm_img-toggle + .opm_img-toggle-btn::selection,
.opm_img-toggle::selection,
.opm_img-toggle ::selection,
.opm_img-toggle:after::selection,
.opm_img-toggle :after::selection,
.opm_img-toggle:before::selection,
.opm_img-toggle :before::selection {
    background: 0;
}
.opm_img-toggle + .opm_img-toggle-btn {
    outline: 0;
	/*
    width: 2em;
    height: 1em;
	*/
	width: calc(16px + (26 - 16) * ((100vw - 767px) / (1920 - 767)));
    height: calc(8px + (13 - 8) * ((100vw - 767px) / (1920 - 767)));
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.opm_img-toggle + .opm_img-toggle-btn:after,
.opm_img-toggle + .opm_img-toggle-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}
.opm_img-toggle + .opm_img-toggle-btn:after {
    left: 0;
}
.opm_img-toggle + .opm_img-toggle-btn:before {
    display: none;
}
.opm_img-toggle:checked + .opm_img-toggle-btn:after {
    left: 50%;
}
.opm_img-toggle-light + .opm_img-toggle-btn {
    background: #9e9c9c;
    border-radius: 1em;
    padding: 1px;
    transition: all 0.4s ease;
}
.opm_img-toggle-light + .opm_img-toggle-btn:after {
    border-radius: 50%;
    background: #fff;
    transition: all 0.2s ease;
}
.opm_img-toggle-light + .opm_img-toggle-btn.disabled {
    background-color: hsla(0, 1%, 61.6%, 0.1882352941);
}

.opm_img-toggle-light:checked + .opm_img-toggle-btn.disabled {
    background-color: hsla(0, 1%, 61.6%, 0.1882352941);
}

.opm_img-input-group .textarea-custom,
.opm_img-input-group .textarea-full,
.opm_img-input-group .textarea-medium,
.opm_img-input-group .textarea-tall {
    padding: 10px 10px 10px 10px;
    width: calc(100% - (100% - 95%));
    max-width: calc(100% - 5%);
}

.ws-nowrap {
	white-space: nowrap;
}


.opm_img-input-group .textarea-tall {
    /* min-height: 254px; */
	min-height: 237px;
}

.opm_img-input-group .textarea-full {
	min-height: 170px;
}

.opm_img-input-group .textarea-medium {
    min-height: 140px;
}

.opm_img-input-group .toggle-label {
    padding-left: calc(7px + (9.75 - 7) * ((100vw - 767px) / (1920 - 767)));
    padding-top: 10px;
}
.opm_img-input-group .toggle-label.disabled {
    color: rgba(103, 102, 102, 0.44);
}
textarea.opm_img-css {
    font-family: monospace;
}
.opm_img_footer .opm_img-navigation {
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
}
.opm_img_footer .opm_img-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}
.opm_img_footer .opm_img-navigation li {
    display: inline-block;
}
.opm_img_footer .opm_img-navigation li a {
    background: 0;
    color: #222;
    padding: 10px 15px;
}
.opm_img_footer .opm_img-navigation li a.current {
    background: #ededed;
    color: #222;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.short-animate {
    transition: 0.5s ease-in-out;
}
.long-animate {
    transition: 0.5s ease-in-out 0.5s;
}
